* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


img {
    width: 100px;
    height: 100px;
}
div {
    border: 1px solid blueviolet;
}

.setNumberOfRounds {
    display: flex;
    justify-content: center;
}

.gameVisuals {
    display: flex;
    justify-content: space-around;
}

.userChoice {
    display: flex;
    flex-direction: column;
}

.userChoices {
    display: flex;
}


.scores {
    display: flex;
    justify-content: space-around;
}