<ul>
  <li *ngFor="let article of articles">
    {{ article.designation }} : {{ article.prix }}
  </li>
</ul>

<h4>Total : {{ totalPrice }} euros</h4>

<form [formGroup]="article" (ngSubmit)="onSubmit()">
  <label for="designation">Designation</label>
  <input type="text" formControlName="designation" />
  <span *ngIf="form['designation'].invalid && submitted"
    >* Nom obligatoire</span
  >
  <label for="price">Prix</label>
  <input type="text" formControlName="price" />
  <span *ngIf="form['price'].invalid && submitted">* Prix obligatoire</span>
  <button type="submit">Ajouter</button>
</form>
