* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    border: 1px solid #333;
    margin: 3em;
}

.cardContainer {
    background: #fff;
    padding: 1em;
    margin: 0.8em;
    border-radius: 0.4em;
}

.questionText {
    margin: 0.3em;
    margin-bottom: 0.8em;
}

/* .answersContainer {
    border: 1px solid green;
} */

.answerContainer {
    margin: 0.2em;
}

.validate {
    width: 20%;
    margin: 1.3em auto;
    text-align: center;
    cursor: pointer;
    border-radius: 0.3em;
    background: #fff;
    padding: 0.5em;
}

.validate:hover {
    border: 1px solid white;
    background: rgba(51, 51, 51, 0.589);
    color: white;
}

.results {
    text-align: center;
    border-radius: 0.3em;
    background: #fff;
    width: 40%;
    margin: 0.3em auto;
    padding: 0.4em;
}


.correctAnswer {
    background: rgba(0, 128, 0, 0.603);
}

.answerCorrected {
    background: rgba(255, 166, 0, 0.603);
}

.wrongAnswer {
    background: rgba(255, 0, 0, 0.603);
}