.parent {
    margin: 5em auto;
    width: 20vw;
    height: 20vh;
    background: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.child {
    background: white;
    color: #333;
    margin: 0;
    padding: 0.8em;
}

.parent:hover {
    background: white;
    color: #333;
}

.child:hover {
    background: #333;
    color: white;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display > div {
    width: 30vw;
    height: 20vh;
    background: #333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}